body {
	text-align: center;
	font-size: 45px;
	color: white;
	font-family: 'Jim Nightshade', cursive;
	background-image: url(../images/black.png);
}

h1 {
	font-size: 55px;
}

.jumbotron {
	background: transparent;
	box-shadow: none;
}

.scores {
	font-size: 25px;
}

.panel {
	border: none;
	box-shadow: none;
	background: transparent;
}

