body {
	text-align: center;
	font-size: 45px;
	color: white;
	font-family: 'Jim Nightshade', cursive;
	background-image: url(../images/black.png);
}

h1 {
	font-size: 55px;
}

.jumbotron {
	background: transparent;
	box-shadow: none;
}

.scores {
	font-size: 25px;
}

.panel {
	border: none;
	box-shadow: none;
	background: transparent;
}

img {
    margin: 15px;
    opacity: 0.8;
    -webkit-transition: margin 0.2s ease-out;
    -moz-transition: margin 0.2s ease-out;
    -o-transition: margin 0.2s ease-out;
}
 
img:hover {
    margin-top: 2px;
    opacity: 1.0;
}